
.cst-page-about-me {
    margin: 0 10% 0 10%;
    /*background-color: white;*/
    padding: 50px 60px 50px 60px;
    display: flex;
}

.cst-about-image {
}

.cst-image-elm1 {
    width: 400px;
    height: 455px;
}

.cst-about-content {
    padding: 10px;
    background-color: white;
}

.cst-icon-anchor {
    text-decoration: none;
}



.cst-tech-tbl {
    margin: 5px;
    background: gray;
    width: 98%;
}

    .cst-tech-tbl tr {
        line-height: 25px;
    }

    .cst-tech-tbl th {
        padding: 1px;
        background: #E5E5E5;
        font-size: 18px;
        color: #504d4d;
    }

    .cst-tech-tbl td {
        padding: 1px;
        background: white;
        text-align: center;
    }

        .cst-tech-tbl td:nth-child(2) {
            background-color: #f5f0f0;
        }

.cst-tech-tbl-label {
    font-weight: bold;
    text-decoration: underline;
    padding: 30px 0 5px 5px;
    text-align: center;
    font-size: 22px;
    color: #78797b;
}

.cst-tech-tbl-past {
    color: red;
}

.cst-tech-tbl-future {
    color: green;
}

.cst-tech-color-box {
    margin-top:5px;
    text-align: right;
}

.cst-social-icons {
    text-align: center;
    margin-top: 60px;
}

.cst-about-desc {
    font-size: 16px;
}


/*icons*/
.cst-icon-linkedin {
    color: #4291b4;
    font-size: 24px;
    margin: 5px;
}


.cst-icon-twitter {
    color: #28aae1;
    font-size: 24px;
    margin: 5px;
}

.cst-icon-googleplus {
    color: #d54438;
    font-size: 24px;
    margin: 5px;
}


.cst-icon-pasttech {
    color: red;
}

.cst-icon-futuretech {
    color: green;
}
/*icons ends*/
