body {
  margin: 0;
  --font-size1: 15px;
  --font-size2: 18px;
  --font-size3: 24px;
  --font-size4: 34px;
  --color-1: #E8EAF6;
  --color-1-txt: black;
  --color-2: #9FA8DA;
  --color-2-txt: white;
  --color-3: #5C6BC0;
  --color-3-txt: white;
  --color-4: #3F51B5;
  --color-4-txt: white;
  --color-5: #1A237E;
  --color-5-txt: white;
}

.page-001-container {
  font-size: var(--font-size1);
}


.page-001-head {
  background-color: var(--color-4);
  color: var(--color-4-txt);
  display: flex;
  height: 200px;
  margin-bottom: 40px;
}

.page-001-head-left {
  background-color: var(--color-2);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-001-head-left-image {
  width: 150px; /*height auto aspect*/
}

.page-001-head-center {
  background-color: var(--color-2);
  width: 100px;
}

.page-001-head-right {
  font-size: var(--font-size2);
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.page-001-head-right-name {
  font-size: var(--font-size4);
  width: 100%;
}

.page-001-head-right-address {
  font-size: var(--font-size3);
  width: 100%;
}

.page-001-head-right-links {
  width: 50%;
}

  .page-001-head-right-links a {
    color: var(--color-4-txt);
  }





.page-001-summary {
  background-color: var(--color-3);
  color: var(--color-3-txt);
  padding: 20px 40px;
  margin: 0 10px 20px 10px;
}

.page-001-summary-head {
  font-size: var(--font-size3);
  margin-bottom: 10px;
}

.page-001-summary-content-item {
  margin-bottom: 5px;
}
/*---------------------GENERIC------------------------------------*/
.cst-shape-ripped-paper {
  clip-path: polygon(3% 0, 7% 1%, 11% 0%, 16% 2%, 20% 0, 23% 2%, 28% 2%, 32% 1%, 35% 1%, 39% 3%, 41% 1%, 45% 0%, 47% 2%, 50% 2%, 53% 0, 58% 2%, 60% 2%, 63% 1%, 65% 0%, 67% 2%, 69% 2%, 73% 1%, 76% 1%, 79% 0, 82% 1%, 85% 0, 87% 1%, 89% 0, 92% 1%, 96% 0, 98% 3%, 99% 3%, 99% 6%, 100% 11%, 98% 15%, 100% 21%, 99% 28%, 100% 32%, 99% 35%, 99% 40%, 100% 43%, 99% 48%, 100% 53%, 100% 57%, 99% 60%, 100% 64%, 100% 68%, 99% 72%, 100% 75%, 100% 79%, 99% 83%, 100% 86%, 100% 90%, 99% 94%, 99% 98%, 95% 99%, 92% 99%, 89% 100%, 86% 99%, 83% 100%, 77% 99%, 72% 100%, 66% 98%, 62% 100%, 59% 99%, 54% 99%, 49% 100%, 46% 98%, 43% 100%, 40% 98%, 38% 100%, 35% 99%, 31% 100%, 28% 99%, 25% 99%, 22% 100%, 19% 99%, 16% 100%, 13% 99%, 10% 99%, 7% 100%, 4% 99%, 2% 97%, 1% 97%, 0% 94%, 1% 89%, 0% 84%, 1% 81%, 0 76%, 0 71%, 1% 66%, 0% 64%, 0% 61%, 0% 59%, 1% 54%, 0% 49%, 1% 45%, 0% 40%, 1% 37%, 0% 34%, 1% 29%, 0% 23%, 2% 20%, 1% 17%, 1% 13%, 0 10%, 1% 6%, 1% 3%);
}


.cst-shape {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cst-shape-triangle-top-left {
  clip-path: polygon(0 0, 0 100%, 100% 0);
}
/*---------------------GENERIC------------------------------------*/
