body {
    margin: 0;
    --font-size1: 15px;
    --font-size2: 18px;
    --font-size3: 24px;
    --font-size4: 34px;
    --font-size5: 20px;
    --font-size-icon1: 8px;
    --color-1: #E8EAF6;
    --color-1-txt: black;
    --color-2: #9FA8DA;
    --color-2-txt: black;
    --color-3: #5C6BC0;
    --color-3-txt: black;
    --color-4: #3F51B5;
    --color-4-txt: white;
    --color-5: #1A237E;
    --color-5-txt: white;
    --color-6: #152A7C;
    --color-6-txt: white;
    --sec-color-1: #FF8700;
    --sec-color-1-txt: black;
    --sec-color-2: #FF9A00;
    --sec-color-2-txt: black;
    --color-7: #C2CAE9;
    --color-7-txt: black;
    --color-8: #9AA7DA;
    --color-8-txt: black;
    --sec-color-3: #FFECB2;
    --sec-color-3-txt: black;
    --sec-color-4: #FFDF81;
    --sec-color-4-txt: black;
}

