body {
  margin: 0;
  --font-size1: 15px;
  --font-size2: 18px;
  --font-size3: 24px;
  --font-size4: 34px;
  --color-1: #E8EAF6;
  --color-1-txt: black;
  --color-2: #9FA8DA;
  --color-2-txt: white;
  --color-3: #5C6BC0;
  --color-3-txt: white;
  --color-4: #3F51B5;
  --color-4-txt: white;
  --color-5: #1A237E;
  --color-5-txt: white;
}

.page-001-container {
  font-size: var(--font-size1);
  margin-bottom: 10px;
}


.page-001-head {
  background-color: var(--color-4);
  color: var(--color-4-txt);
  display: flex;
  height: 200px;
  margin-bottom: 40px;
}

.page-001-head-left {
  background-color: var(--color-2);
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-001-head-left-image {
  width: 150px; /*height auto aspect*/
}

.page-001-head-center {
  background-color: var(--color-2);
  width: 100px;
}

.page-001-head-right {
  font-size: var(--font-size2);
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
}

.page-001-head-right-name {
  font-size: var(--font-size4);
  width: 100%;
}

.page-001-head-right-address {
  width: 100%;
}

.page-001-head-right-links {
  width: 50%;
}

  .page-001-head-right-links a {
    color: var(--color-4-txt);
  }





.page-001-summary {
  background-color: var(--color-3);
  color: var(--color-3-txt);
  padding: 20px 40px;
  margin: 0 10px 20px 10px;
}

.page-001-summary-head {
  font-size: var(--font-size3);
  margin-bottom: 10px;
}

.page-001-summary-content-item {
  margin-bottom: 5px;
}




.page-001-tech-skills {
  display: flex;
  margin: 0 10px 20px 30px;
}

.page-001-tech-skills-header {
  width: 350px;
  height: 150px;
  z-index: 1;
}

.page-001-tech-skills-content {
  background-color: var(--color-3);
  color: var(--color-3-txt);
  width: 100%;
  padding: 20px 40px 20px 80px;
  border-bottom-left-radius: 80px;
  border-top-left-radius: 80px;
}

.page-001-tech-skills-section {
  min-height: 80px;
}

.page-001-tech-section-header {
  font-size: var(--font-size3);
}
.page-001-section-body {
  display:flex;
  flex-wrap:wrap;
}
.page-001-section-tech-name {
  min-height: 20px;
  min-width: 100px;
  margin: 10px;
}

.section-separator {
  border-bottom: 1px solid var(--color-3-txt);
  margin-bottom: 10px;
}
.page-001-tech-footer-section {
  display: flex;
  justify-content: flex-end;
}
